@model Web.Models.Item

<div id="detail-holder">
    <div>
        <a href="@Model.Url" target="_blank" >@Model.Url</a>
        <hr />
        <div id="detail-image">
            
        </div>
        <table class="detail-table">
            <tr>
                <td>
                    <div class="details-info">
                        <ul class="detail-ul">
                            @{
                                try
                                {
                                    var test = Model.ItemDetails;

                                    foreach (var detail in Model.ItemDetails)
                                    {
                                        var verified = detail.IsVerified ? "verified" : "";

                                        <li class="detail-li @verified">
                                            <div class="bullet-item">
                                                @Html.Raw(detail.ItemHtml)
                                            </div>
                                            <div class="detail-statistic">
                                                <ul>
                                                    <li class="li-name">
                                                        @detail.ItemName
                                                    </li>
                                                    <li>
                                                        <span>Name: </span>
                                                        <span>@detail.UserName</span>
                                                    </li>
                                                    <li>
                                                        <span>Price: </span>
                                                        <span>@detail.Price</span>
                                                    </li>
                                                    <li>
                                                        @detail.TimeAgo
                                                    </li>
                                                    <li>
                                                        <a href="@detail.WikiLink" target="_blank">Wiki</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="return false;" class="btn-copy" data-clipboard-text="@detail.Message">Copied to clipboard</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    }
                                }
                                catch (Exception e)
                                {
                                }
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    var value1 = '@Model.ImageWikiHtml';
    $(document).ready(function () {
        var html = $.parseHTML(value1)
        $('#detail-image').html(html[0].data);
    });

    $('.popup').css('overflow', 'overlay');
    $('.popup_cont').css('height', '80%');
    $('.popup_cont').css('width', '1100px');
    $('.popup_cont .popup').css('height', '100%');
    $('.popup_cont .popup').css('width', '100%');
    addItemPopup.center();

    var clipboard = new Clipboard('.btn-copy');
</script>